* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
}
header {
  background-color: #a2d2ff;
  color: #333;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #bde0fe;
  color: #333;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #0077b6;
}

div {
  display: flex;
  min-height: calc(100vh - 180px);
}

aside {
  background-color: aquamarine;
  width: 20%;
  padding: 20px;
  color: #333;
}

main {
  background-color: white;
  width: 60%;
  padding: 20px;
}

footer {
  background-color: #a2d2ff;
  color: #333;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

h1 {
  font-size: 26px;
}
